@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding-left: 78;
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: #e8e8e8;
}

.same-height-img {
  max-height: 400px;
  min-height: 350px;
  width: 'cover-content';
}
.swiper-image {
  width: 320px;
  height: auto;
  max-height: 480px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

